apache-airflow>=2.6.3
apache-beam>=2.4.0
tzlocal>=1.5.1
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
croniter>=1.0.5 # not directly required, pinned by Snyk to avoid a vulnerability
cryptography>=41.0.4 # not directly required, pinned by Snyk to avoid a vulnerability
flask>=2.2.5 # not directly required, pinned by Snyk to avoid a vulnerability
flask-appbuilder>=4.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
grpcio>=1.53.2 # not directly required, pinned by Snyk to avoid a vulnerability
httplib2>=0.19.0 # not directly required, pinned by Snyk to avoid a vulnerability
mako>=1.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.21.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=3.18.3 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
pyjwt>=2.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.26.18 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=2.2.3 # not directly required, pinned by Snyk to avoid a vulnerability
