google-cloud-datastore
google-cloud-resource-manager
google-api-python-client
webapp2
webapp2_static
webob
pyyaml
oauth2client==3.0.0
protobuf>=3.18.3 # not directly required, pinned by Snyk to avoid a vulnerability
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
